<% provide(:title, 'Contactos') %>
<h1>Contactos</h1>

<p>Não temos propriamente um mail oficial do Loop (ainda), por isso para nos contactarem basta enviar um mail para o meu (Pedro Paredes) mail da faculdade: pparedes_at_dcc.fc.up.pt</p>

<p>Se contactarem a organização das ONI a vossa mensagem também chega cá, assim como por qualquer membro da equipa.</p>
