<h1>Introdução ao Loop</h1>
<p>
  <a href="#">
    Disclaimer para algum concorrente que encontrar isto
    perdido num Search Engine: ainda não é oficial!!!
  </a>
</p>
<p>
  Olá! Antes de mais vamos a uma pequena introdução sobre o que
  é o Loop. Todos os anos as ONI (Olimpíadas Nacionais de
  Informática) têm pessoas diferentes, com experiência diferente,
  objetivos diferentes e com interesses diferentes. Pois o objetivo do
  Loop é contribuir, de alguma maneira, para todos. Contribuir para
  quê? Para elevar o nível global de todos os interessados nas ONI,
  para permitir a quem quer ter resultados, nacional e
  internacionalmente, possa ter algo para seguir.
</p>
<p>
  O Loop é um projeto em desenvolvimento, ou seja, nunca estará
  propriamente acabado. A ideia é cada ano ter material novo e
  renovado e cada ano poder melhorar a experiência dos participantes
  portugueses.
</p>
<p>
  Mas antes de começarem a usar o Loop vamos a uma explicação de como
  funciona. Primeiro que tudo, o Loop tem dois Modos: o Modo de
  Concorrente e o Modo de Treino. O Modo de Concorrente é basicamente
  um perfil para cada concorrente das ONI. O seu objetivo é poder
  apresentar cada concorrente, ou seja, um perfil assim como algumas
  estatísticas tanto internas (participações passadas, lugares
  obtidos, ...) como externas (participações na Olimpíada
  Internacional, número de problemas feitos em Problem Judges
  externos, ...). Notem que um concorrente não precisa de ter um
  perfil para participar nas ONI (é independente), mas para ter uma
  conta no Loop (poder participar em eventos do Loop e poder submeter
  problemas internos) é preciso um perfil. Porém, todo o material é
  público, quer tenham ou não conta.
</p>
<p>
  O Modo de Treino é o mais interessante e útil. É constituído por um
  conjunto de elementos que são:
</p>
<ul>
  <li>
    <b>Problemas</b>: São a unidade fundamental do Loop. Há dois
    tipos, internos e externos. Os internos são problemas que
    apareceram em ONI ou em concursos do Loop (assim como problemas
    extra do Loop que não apareceram em concursos) <s>e que podem ser
    submetidos no sistema do Loop</s>. Os externos são problemas
    existentes em sites de fora (outros Problem Judges, olimpíadas
    estrangeiras ou internacionais). A regra geral é que cada problema
    tem uma pequena sugestão de solução (cuja leitura só deve ser
    feita em caso de dúvida). Alguns têm uma solução completa
    possivelmente com código (para serem utilizados como
    exemplos). Outros não têm nenhum tipo de solução, para poderem
    ser problemas desafio. Caso não consigam resolver um determinado
    problema é possível pedir ajuda no fórum do Loop (P@P) ou pedindo
    ajuda diretamente à equipa do Loop (o primeiro é preferível).
  </li>
  <li>
    <b>Artigos</b>: São o que "dá vida" ao Loop. Cada artigo é uma
    aula sobre um determinado algoritmo, técnica, estrutura de dados
    ou sobre um tema mais geral (como por exemplo estratégia em prova
    ou interpretar problemas). Um artigo é composto por um texto (com
    possíveis aditivos visuais, ou seja, imagens) acompanhado com
    pseudo-código ou código (muito provavelmente em C/C++, sorry
    Pascal users) e opcionalmente refere um ou mais problemas como
    sugestões ou exemplos para o tema em questão.
  </li>
  <li>
    <b>Categorias</b>: Para organizar os artigos e os problemas
    existentes, cada artigo está inserido numa categoria (seja Grafos,
    Geometria, Ad-Hoc, ...) assim como cada problema. Notem que a
    categoria de um problema só é revelada na sua solução (ou na
    sugestão de solução se for o caso), isto para impedir spoilers
    (isto também significa que nos problemas desafio, AKA sem solução,
    não é revelada a categoria).
  </li>
  <li>
    <b>Guias</b>: Se tudo correr bem, passado um certo tempo o número
    de problemas e de artigos será grande. Com este aumento significa
    que quem estiver a começar pode se sentir "bombardeado" com tanto
    material. Para impedir isso, existem guias, que são coleções
    ordenadas de artigos e problemas. Isto é, são uma lista de artigos
    e problemas essenciais de um determinado tema e/ou
    dificuldade. Ordenado apenas significa que os artigos e os
    problemas num guia devem ser lidos/feitos por num determinada
    ordem. Um exemplo seria um guia chamado "Introdução à Ordenação"
    que conteria os artigos mais básicos sobre ordenação assim como
    problemas importantes. O objetivo é que cada artigo esteja em um e
    um só guia
  </li>
  <li>
    <s><b>Testes</b>: Para ser possível organizar ainda mais problemas
    dentro de uma categoria, existem testes. Testes são simplesmente
    um conjunto de problemas. A razão de agrupamento de problemas
    poderá ser por serem do mesmo tema/tipo ou porque apareceram numa
    competição. Por esta razão o mesmo problema poderá estar em dois
    testes diferentes (por exemplo "Final ONI 2073" e "Somar dois
    números"). A razão principal para existirem testes é para poderem
    ser usados como sugestões em artigos, embora quem queira
    consolidar um certo tema fazendo vários problemas sobre isso é
    bem-vindo.</s>
  </li>
</ul>
<p>
  Falta referir um último elemento, mas este merece algum destaque:
</p>
<h3>Concursos do Loop</h3>
<p>
  São competições mensais que ocorrem de Janeiro a Abril. Estes
  concursos são o ultimate training para as olimpíadas!
</p>
<p>
  Têm sempre problemas novos (preferencialmente escritos e organizados
  pela equipa do Loop, mas como a equipa não é muito grande ás vezes é
  necessário recorrer a problemas de outras fontes, mas sempre
  potencialmente novos para os concorrentes!!). Cada concurso tem 3 ou
  4 problemas e tem um "título", que é indicador do tipo de problemas
  do concurso ou simplesmente uma frase bonita para marcar o concurso
  (como por exemplo: "Grafos é que é" ou "Lagostas e Elefantes").
</p>
<p>
  Os concursos funcionam de maneira diferente quer da Final quer da
  Qualificação das ONI. Cada concorrente terá 3 ou 4 horas para
  resolver os problemas (3 horas quando o concurso tiver 3 problemas e
  4 horas quando tiver 4). Mas para permitir flexibilidade, o
  concorrente pode começar quando quiser num espaço de 3 dias (uma
  sexta-feira e um fim-de-semana). Isto é, o concurso começa num dia e
  a partir desse dia o concorrente pode começar o concurso quando
  quiser até ao último dia. A partir do momento em que começa tem um
  tempo limite em que pode resolver os problemas e submetê-los. Quando
  acaba o tempo, acaba a prova. Pede-se que não partilhem os problemas
  com quem ainda não os viu nem discutam soluções antes de todos os
  envolvidos tiverem terminado (até porque os concursos são só de treino).
</p>
<p>
  Cada concurso é acompanhado no final por uma pequena descrição das
  soluções assim como uma menção para o vencedor e/ou quem resolver
  todos os problemas para 100 pontos (ahah, ninguém vai resolver).
</p>
<p>
  Os concursos do Loop NÃO têm nenhuma afiliação com as fases das ONI,
  ou seja, para chegar à final e/ou passar à Olimpíada Internacional
  não é preciso participar em nenhum, mas o treino obtido é sempre
  bom.
</p>
<p>
  Finalmente, durante a fase inicial do Loop os concursos acompanharão
  os artigos a sair. Isto é, se entre o 2º e o 3º concurso saíram 4
  artigos de grafos, há uma grande possibilidade do concurso ser sobre
  grafos.
</p>
<h3>Conclusão</h3>
<p>
  Para concluir este artigo inicial falta-me dizer que aproveitem o
  material que vos foi dado e caso tenham dúvidas sobre temas de
  algoritmos, sobre problemas ou sobre as ONI podem sempre contactar a
  equipa do Loop (por favor não nos mandem mails com perguntas como "O
  que é melhor Star Wars ou ...?", é Star Wars, ou a descrever o vosso
  pequeno-almoço desse dia).
</p>
<p>
  Agora bom treino e vejo vos na Final das ONI, PP.
</p>
