<% provide(:title, 'Regras e Instruções de Concursos') %>
<h1>Regras e Instruções de Concursos</h1>

<p>
  Os concursos das ONI terão um formato de problemas semelhante ao das
  ONI e têm como objetivo serem provas de treino tanto para a
  qualificação como para a final.
</p>
<p>
  Funcionaram num regime mensal (embora em meses como de Junho a
  Setembro não deverão haver provas por serem férias, mas teremos
  treinos na mesma para quem quiser).
</p>
<p>
  Em termos de logística, serão concursos com 4 problemas, por norma,
  pontuados de 0 a 100 (tudo como nas ONI) e serão problemas originais
  (exceto alguns casos especiais). Os problemas são feitos para um
  concurso de 3-4 horas (dependendo dos problemas serão 3 ou 4
  horas). Os concursos poderão ser temáticos, significando isto que
  todos os problemas são se um mesmo tipo ou tema, ou livres, para
  funcionar como um concurso normal. Cada concurso tem um título, para
  o identificar, e um tópico, que poderá ser uma frase divertida ou
  algo que sugira sobre o tipo de problemas que vão sair.
</p>

<p>
  O funcionamento dos concursos será semelhante ao dos concursos da
  <%= link_to "USACO", "http://usaco.org" %>, ou seja, durante um
  conjunto de dias (normalmente 4 dias seguidos) os concorrentes podem
  iniciar a sua prova quando quiserem. Depois de iniciarem terão
  apenas as 3-4 horas de concurso para resolver os problemas e
  submeterem-nos. Acabando esse tempo não é possível submeter mais
  independentemente da hora de começo.
</p>
<p>
  Os resultados de cada concurso, assim como soluções e outras notas,
  devem sair na semana a seguir aos 4 dias de prova.
</p>
<p>
  Para participar num concurso é preciso inscreverem-se aqui no site
  do Loop através do link do próprio concurso (que estará ou na página
  de concursos ou num Post da página principal). Para tal basta, após
  estar registado no Loop, ir à página do concurso respetivo e
  carregar em "Inscrever" (devem fazê-lo com pelo menos umas 24
  horas de antecedência, mas se se atrasarem basta contactar a
  equipa). Quando o concurso for para começar o link do concurso será
  disponibilizado aqui no site do Loop assim como nas redes sociais
  das ONI e todos os concorrentes receberão um mail com mais informações
  sobre o concurso.
</p>

<p>
  Os concursos são informais, ou seja não há nenhum tipo de deteção de
  cópia nem nada parecido. Pedimos porém que respeitem os colegas
  concorrentes ao evitar partilhas de código ou informação antes do
  final do concurso para todos. Depois de os 4 dias terem passado são
  livres (e até encorajamos) de discutir tudo sobre os problemas, as
  soluções ou o tipo de letra usado nos enunciados.
</p>

<p>
  Entretanto boa sorte com os concursos, não se esqueçam que é só uma
  "brincadeira" para treino (por isso divirtam-se) e para dúvidas ou
  perguntas <%= link_to "contactem", contacts_path %> a equipa do Loop.
</p>
