<% provide(:title, 'Painel de Administração') %>
<h1>Painel de Administração</h1>
<p>Ferramentas:</p>
<ul>
  <li><%= link_to "Gerar lista de participantes de concurso", gen_contest_path %>;</li>
</ul>
