<% provide(:title, 'Painel de Administração') %>
<h1>Painel de Administração</h1>
<p>Ferramentas:</p>
<ul>
  <li><%= link_to "Gerar lista de participantes de concurso", gen_contest_path %>;</li>
  <li><%= link_to "Lista de Notificações", announcements_path %>;</li>
  <li><%= link_to "Adicionar Post", new_post_path %>;</li>
</ul>
