<% if @article.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Ocorreram erros na criação de uma artigo...
    </div>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
