@import "bootstrap";

/* mixins, variables, etc. */

$ONIYellow: #FFE479;
$ONIYellowDark: #EDD161;
$ONIRed: #9D2225;
$ONIRedDark: #8A1316;
$SWhite: #F6F6F6;

@mixin background_mix($color1, $color2) {
  background-color: $color1;
  background-image: -moz-linear-gradient(top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($color1), to($color2));
  background-image: -webkit-linear-gradient(top, $color1, $color2);
  background-image: -o-linear-gradient(top, $color1, $color2);
  background-image: linear-gradient(to bottom, $color1, $color2);
  background-repeat: repeat-x;
}

/* universal */

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  text-align: justify;
  @include background_mix(#CCC, #CCC);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-variant: small-caps;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 2.0em;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 70px;
  font-weight: normal;
}

p, li {
  font-size: 1em;
  line-height: 1.3em;
}


/* header */

.navbar-inner {
  padding-top: 7px;
  padding-bottom: 7px;

  @include background_mix($SWhite, White); 
}

#infobox {
  height: 100px;
  margin-left: 190px;
  @include background_mix($ONIYellow, $ONIYellow);
}

#statusbox {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid $ONIYellowDark;

  a {
    color: $ONIRed;
    &:hover {
      color: $ONIYellowDark;
      text-decoration: none;
    }
  }
}

nav {
  ul {
    font-variant: small-caps;
    list-style: none;
    display: inline;
    margin: 0;

    li {
      height: 29px;
      line-height: 29px;
      float: left;
      padding-left: 20px;
      padding-right: 20px;

      &:not(.click-nav):hover {
        @include background_mix($ONIRedDark, $ONIRedDark);
        a {
          color: $ONIYellowDark;
          text-decoration: none;
        }
      }

      ul {
        @include background_mix($ONIYellow, $ONIYellow);
      }

      a {
        color: $ONIRed;
        font-weight: bold;
      }
    }
  }
}

.click-nav {
  cursor: pointer;
  color: $ONIRed;
  font-weight: bold;

  &:hover {
    @include background_mix($ONIRedDark, $ONIRedDark);
    color: $ONIYellowDark;
  }

  ul {
    display: none;
    position: absolute;
    margin-left: -20px;
    li {
      float: none;
    }
  }
}

/* Content */

#content {
  width: 1100px;
  margin-top: -20px;
  @include background_mix(White, White);
}

#page {
  width: 92%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  a {
    color: $ONIRed;
    font-weight: bold;
    &:hover {
      color: $ONIYellowDark;
      text-decoration: none;
    }

    &.reverse {
      color: $ONIYellow;
      font-weight: bold;
      &:hover {
        color: $ONIRedDark;
        text-decoration: none;
      }
    }
  }

  ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 15px;
    list-style: none;
    border-left: 1px solid;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
  margin-left: 5px;
}

.button-style {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: $ONIYellow;
  box-shadow: 0px 3px 0px 0px $ONIYellowDark;
  text-shadow: 0 1px rgba(1, 1, 1, 0.2);
  color: $ONIRed;
  border: none;
  font-weight: bold;
  font-variant: small-caps;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

  &:hover {
    background-color: $ONIRed;
    box-shadow: 0px 3px 0px 0px $ONIRedDark;
    color: $ONIYellow;
  }
}

.tag-line {
  font-size: 1.4em;
  margin-top: -25px;
  text-align: center;
  margin-left: 50px;
}

/* Profile */

#profile {
  margin-top: 10px;

  h1 {
    margin-bottom: 5px;
  }

  h3 {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 120px;
  }

  #profile-img {
    float: left;
    margin-right: 25px;
    width: 180px;
    text-align: center;
  }


  #profile-top {
    margin-top: 10px;

    table {
      td {
        font-size: 1.2em;
        padding-right: 30px;
      }
    }
  }

  #profile-social {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: px;

    img:hover {
      background: #DCDCDC;
    }
  }

  #profile-oni {
    clear: both;
    padding-top: 30px;

    p {
      img {
        vertical-align: middle;
        padding-bottom: 1px;
        padding-right: 5px;
      }

      margin-left: 10px;
      line-height: 1.3em;
      margin-top: 10px;
      font-size: 1.3em;
      font-weight: bold;
    }

    table {
      -moz-border-radius: 15px;
      border-radius: 15px;
      margin: auto;
      width: 750px;
      background-color: $ONIRed;
      color: $ONIYellow;

      td, th {
        font-family: sans-serif;
        text-align: center;
        width: 25%;
        border-left: 1px solid $ONIRedDark;

        &:first-child {
          border-left: none;
        }
      }
      th {
        font-variant: small-caps;
        border-bottom: 1px solid $ONIRedDark;
      }
      td {
        height: 35px;
        line-height: 35px;
      }
    }
  }

  #profile-stats {
    margin-top: 20px;

    .profile-stats-text {
      margin-left: 30px;
    }
  }
}


/* Contest */

#date-table {
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: auto;
  width: 750px;
  background-color: $ONIRed;
  color: $ONIYellow;

  td, th {
    font-family: sans-serif;
    text-align: center;
    width: 25%;
    border-left: 1px solid $ONIRedDark;

    &:first-child {
      border-left: none;
    }
  }
  th {
    font-variant: small-caps;
    border-bottom: 1px solid $ONIRedDark;
  }
  td {
    height: 35px;
    line-height: 35px;
  }
}

#contest-body {
  width: 750px;
  margin: auto;
  margin-top: 30px;
}


/* Problem */

#problem-sidebar {
  position: fixed;
//  float: left;
  width: 185px;
  margin-top: 85px;
//  margin-left: 15px;
  margin-left: 815px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px solid black;

  h4 {
    margin-top: 5px;
  }

  p.button-style {
    margin: 0 auto;
    width: 130px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 5px;
  }
}

#problem-statement {
  width: 800px;
  float: left;
}

#problem-footer {
  margin-bottom: 40px;
}

/* form styles */

#participate-form {
  text-align: center;
}

.date-select {
  margin-top: -12px;

  select{
    width: 70px;
    margin-top: 12px;
    &:nth-child(2) {
      width: 100px;
    }
  }
}

#tag_cloud {
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 1.6em;

  a {
    margin-left: 5px;
    margin-right: 5px;
  }

  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.handle {
  cursor: move;
}

/* Articles */

#article-footer {
  margin-top: 40px;
  margin-bottom: 15px;
  padding-left: 10px;

  p {
    font-size: 0.81em;
  }
}

#article-form {
  height: 70px;
  border-top: 1px solid #808080;

  #read-form {
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 20px;
  }
  
  #admin-form {
    height: 70px;
    line-height: 70px;
    float: right;
    margin-right: 20px;

    select {
      width: 200px;
      margin: 0px;
    }
  }
}

.article-read a {
  text-decoration: line-through;
}

/* search bar */

#search-box {
  width: 50%;
  height: 25px;
  margin-left: 20px;
  margin-bottom: 40px;
  #search {
    width: 50%;
  }
}


/* user index */

#index-users {
  ul {
    border: none;
    padding-left: 0px;
  }
  .user {
    margin-left: 30px;
  }
}


/* Post */

#home-wrapper {
  float: left;
  width: 80%;
}

#home-box {
  width: 800px;
  margin: 0 auto;
}

.post-box {
  width: 800px;
//  margin-left: 20px;
//  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  background-color: $ONIYellow;

  &:last-child {
    margin-bottom: 5px;
  }

  .post-title {
    line-height: 1.45em;
    font-size: 1.45em;
    font-weight: bold;
    padding-left: 20px;
    border-bottom: 1px solid $ONIYellowDark;
  }

  .post-body {
    padding: 10px;
    background: white;
    border-left: 1px solid $ONIYellowDark;
    border-right: 1px solid $ONIYellowDark;
  }

  .post-footer {
    font-size: 0.80em;
    text-align: right;
    line-height: 0.80em;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 1px solid $ONIYellowDark;
  }
}


/* Sidebox */

.sidebox {
  float: left;
  width: 170px;
  margin-left: 2%;
  margin-top: 10px;
  border: 1px solid black;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  background-color: $ONIYellow;
  border: 1px solid $ONIYellowDark;

  .sidebox-title {
    margin-left: 10px;
    font-weight: bold;
  }

  .sidebox-body {
    text-align: center;
    background: white;
    padding-bottom: 5px;

    .sidebox-wrapper {
      margin-bottom: 10px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid $ONIYellowDark;

      &:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
      }

      p {
        margin-bottom: 0px;
      }

      .sidebox-time {
        color: #9A9A9A;
      }
    }
  }
}

/* footer */

footer {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid Gray;
  small {
    padding-left: 20px;
  }
  img {
    float: right;
    padding-right: 20px;
  }
}


/* CodeRay */

.pre-plain {
  display: block;
  line-height: 15px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

.CodeRay {
  background-color: #FFF;
  border: 1px solid #CCC;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #000;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}

.CodeRay .pre-plain {
  margin: 0px;
  padding: 0px;
}

span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px
}

table.CodeRay {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  padding: 2px
}

table.CodeRay td {
  padding: 0.4em 0.4em;
  vertical-align: top;
}

.CodeRay .line-numbers, .CodeRay .no {
  background-color: #ECECEC;
  color: #AAA;
  text-align: right;
}

.CodeRay .line-numbers .pre-plain a {
  color: #AAA;
}

.CodeRay .line-numbers tt { font-weight: bold }
.CodeRay .line-numbers .highlighted { color: red }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay span.line-numbers { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.CodeRay .debug { color:white ! important; background:blue ! important; }

.CodeRay .annotation { color:#007 }
.CodeRay .attribute-name { color:#f08 }
.CodeRay .attribute-value { color:#700 }
.CodeRay .binary { color:#509; font-weight:bold }
.CodeRay .comment { color:#998; font-style: italic;}
.CodeRay .char { color:#04D }
.CodeRay .char .content { color:#04D }
.CodeRay .char .delimiter { color:#039 }
.CodeRay .class { color:#458; font-weight:bold }
.CodeRay .complex { color:#A08; font-weight:bold }
.CodeRay .constant { color:teal; }
.CodeRay .color { color:#0A0 }
.CodeRay .class-variable { color:#369 }
.CodeRay .decorator { color:#B0B; }
.CodeRay .definition { color:#099; font-weight:bold }
.CodeRay .directive { color:#088; font-weight:bold }
.CodeRay .delimiter { color:black }
.CodeRay .doc { color:#970 }
.CodeRay .doctype { color:#34b }
.CodeRay .doc-string { color:#D42; font-weight:bold }
.CodeRay .escape { color:#666; font-weight:bold }
.CodeRay .entity { color:#800; font-weight:bold }
.CodeRay .error { color:#F00; background-color:#FAA }
.CodeRay .exception { color:#C00; font-weight:bold }
.CodeRay .filename { color:#099; }
.CodeRay .function { color:#900; font-weight:bold }
.CodeRay .global-variable { color:teal; font-weight:bold }
.CodeRay .hex { color:#058; font-weight:bold }
.CodeRay .integer { color:#099; }
.CodeRay .include { color:#B44; font-weight:bold }
.CodeRay .inline { color: black }
.CodeRay .inline .inline { background: #ccc }
.CodeRay .inline .inline .inline { background: #bbb }
.CodeRay .inline .inline-delimiter { color: #D14; }
.CodeRay .inline-delimiter { color: #D14; }
.CodeRay .important { color:#f00; }
.CodeRay .interpreted { color:#B2B; font-weight:bold }
.CodeRay .instance-variable { color:teal }
.CodeRay .label { color:#970; font-weight:bold }
.CodeRay .local-variable { color:#963 }
.CodeRay .octal { color:#40E; font-weight:bold }
.CodeRay .operator { }
.CodeRay .predefined-constant { font-weight:bold }
.CodeRay .predefined { color:#369; font-weight:bold }
.CodeRay .preprocessor { color:#579; }
.CodeRay .pseudo-class { color:#00C; font-weight:bold }
.CodeRay .predefined-type { color:#074; font-weight:bold }
.CodeRay .reserved, .keyword { color:#000; font-weight:bold }

.CodeRay .key { color: #808; }
.CodeRay .key .delimiter { color: #606; }
.CodeRay .key .char { color: #80f; }
.CodeRay .value { color: #088; }

.CodeRay .regexp { background-color:#fff0ff }
.CodeRay .regexp .content { color:#808 }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp .function { color:#404; font-weight: bold }

.CodeRay .string { color: #D20; }
.CodeRay .string .string { }
.CodeRay .string .string .string { background-color:#ffd0d0 }
.CodeRay .string .content { color: #D14; }
.CodeRay .string .char { color: #D14; }
.CodeRay .string .delimiter { color: #D14; }

.CodeRay .shell { color:#D14 }
.CodeRay .shell .content { }
.CodeRay .shell .delimiter { color:#D14 }

.CodeRay .symbol { color:#990073 }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }

.CodeRay .tag { color:#070 }
.CodeRay .tag-special { color:#D70; font-weight:bold }
.CodeRay .type { color:#339; font-weight:bold }
.CodeRay .variable { color:#036 }

.CodeRay .insert { background: #afa; }
.CodeRay .delete { background: #faa; }
.CodeRay .change { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .insert .insert { color: #080; font-weight:bold }
.CodeRay .delete .delete { color: #800; font-weight:bold }
.CodeRay .change .change { color: #66f; }
.CodeRay .head .head { color: #f4f; }