@import "bootstrap";

/* mixins, variables, etc. */

$ONIYellow: #FFE479;
$ONIYellowDark: #EDD161;
$ONIRed: #9D2225;
$ONIRedDark: #8A1316;
$SWhite: #F6F6F6;

@mixin background_mix($color1, $color2) {
  background-color: $color1;
  background-image: -moz-linear-gradient(top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($color1), to($color2));
  background-image: -webkit-linear-gradient(top, $color1, $color2);
  background-image: -o-linear-gradient(top, $color1, $color2);
  background-image: linear-gradient(to bottom, $color1, $color2);
  background-repeat: repeat-x;
}

/* universal */

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  text-align: justify;
  @include background_mix(#CCC, #CCC);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 2.0em;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 70px;
  font-weight: normal;
}

p, li {
  font-size: 1em;
  line-height: 1.3em;
}


/* header */

.navbar-inner {
  padding-top: 7px;
  padding-bottom: 7px;

  @include background_mix($SWhite, White); 
}

#infobox {
  height: 100px;
  margin-left: 190px;
  @include background_mix($ONIYellow, $ONIYellow);
}

#statusbox {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid $ONIYellowDark;

  a {
    color: $ONIRed;
    &:hover {
      color: $ONIYellowDark;
      text-decoration: none;
    }
  }
}

nav {
  ul {
    list-style: none;
    display: inline;
    margin: 0;

    li {
      height: 29px;
      line-height: 29px;
      float: left;
      padding-left: 20px;
      padding-right: 20px;

      &:hover {
        @include background_mix($ONIRedDark, $ONIRedDark);
        a {
          color: $ONIYellowDark;
          text-decoration: none;
        }
      }

      a {
        color: $ONIRed;
        font-weight: bold;
      }
    }
  }
}


/* Content */

#content {
  width: 1100px;
  margin-top: -20px;
  @include background_mix(White, White);
}

#page {
  width: 92%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  a {
    color: $ONIRed;
    font-weight: bold;
    &:hover {
      color: $ONIYellowDark;
      text-decoration: none;
    }
  }

  ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 15px;
    list-style: none;
    border-left: 1px solid;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* footer */

footer {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid Gray;
  small {
    float: left;
  }
  img {
    float: right;
  }
}
